/*
 *  Super grid system
 */
html {
  font-family: Calibri, sans-serif;
  font-size: 16px;
}

/* horizontal split into sidebar and primary section */
body {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

.sidebar {
  margin: 0px;
  display: grid;
  height: 100vh;
  background-color: hsl(190, 30%, 31%);

  padding: 8px;
}

/* vertical split into header, navbar, main, footer */
.primary {
  margin: 0px;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
  background-color: hsl(51, 13%, 71%);

  padding: 8px;
}

/*
 *  Header and fonts
*/

h1 {
  margin: 0px;
}
h2 {
  margin: 0px;
}
p {
  margin: 0px;
}